body {
  background-color: var(--md-sys-color-surface);
  height: 100dvh;
  font-family: sans-serif !important;
  user-select: none;
}
md-primary-tab{
  font-family: sans-serif;
}
.gmnoprint {
  display: none;
}
.titleHolder {
    margin-left: auto;
}
.title {
    z-index: 3;
    margin: 0 20px;
  display: block;
  height: max-content;
  justify-content: left;
  align-items: center;
  display: flex;
  transition: all 0.4s;
  background: var(--md-sys-color-surface);
  width: calc(100% - 40px);
  color: var(--md-sys-color-on-surface);
  text-align: center;
  position: sticky;
    top: -1px;
}

@media only screen and (max-width: 500px) {
    .title{
        font-size: 1.5rem !important;
    }
     .center {
        font-size: 1rem !important;
        padding:0 !important;
    }
  }


.buses {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35px, 35px));
  gap: min(2vw, 10px);
  margin-top: 7px;
}

md-circular-progress#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


md-filled-text-field {
  --_active-indicator-height: 0;
  --_hover-active-indicator-height: 0;
  --_focus-active-indicator-height: 0;
  width: 100%;
  --md-filled-text-field-container-shape: 150px;
  --_container-color: linear-gradient(
    188deg,
    var(--md-sys-color-surface-container-highest),
    #1919192e
  );
  display: block;
}
html,
body {
  width: 100%;
  height: 100dvh;
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
}
.station {
  padding: 15px;
  background: var(--md-sys-color-surface-container);
  border-radius: 25px;
  margin: 10px 0;
  color: var(--md-sys-color-on-surface);
  position: relative;
}
.center {
  margin-left: 10px;
  padding: 4px 4px;
  position: relative;
  white-space: nowrap;
  border-radius: 100px;
  background: linear-gradient(
    134deg,
    var(--md-sys-color-surface-bright),
    #00000026
  );
}
.textHolder {
  align-items: center;
  display: flex;
}
.searchContain {
    position: sticky;
    top: 40px;
    width: 100%;
    z-index: 2;
    transition: all 0.5s;
    transform: translateX(0);
    background: var(--md-sys-color-surface);
    padding: 0 30px;
}
#tabsFav {
    top: 96px !important;
}
.gm-style iframe + div {
  border: none !important;
}
#map div div a[target="_blank"] div {
  background-color: white;
  border-radius: 100px;
  padding: 3px;
  margin-left: 20px !important;
}
@media (prefers-color-scheme: dark) {
  #map div div a[target="_blank"] div {
    background-color: #242f3e;
  }
  .arrivalRed {
    background: linear-gradient(
      329deg,
      var(--md-sys-color-on-error),
      var(--md-sys-color-error-container)
    ) !important;
  }
  .arrivalTime{
    color: #c4dfc0;
  }
  .arrivalYellow {
    background: linear-gradient(163deg, #fce45c, #b49901) !important;
    color: #000000d5;
}
}

@media (prefers-color-scheme: light) {
  #map div div a[target="_blank"] div {
    background-color: #fbf9f7;
  }
  .arrivalRed {
    background: linear-gradient(
      163deg,
      var(--md-sys-color-error),
      var(--md-sys-color-on-error-container)
    ) !important;
  }
  .arrivalTime{
    color: #264720;
  }
  .arrivalYellow {
    background: linear-gradient(147deg, #ffe86a, #d6b400) !important;
    color: #000000d5;
}
}
#map div div a[target="_blank"] div img {
  left: unset !important;
  top: unset !important;
}

md-fab.centerMap {
    position: absolute;
    bottom: 9dvh;
    right: 17px;
    z-index: 2;
}
#map {
  margin-bottom: -30px;
  width: 100%;
  height: 67dvh;
  position: relative;
}
.ol-control {
  background: none !important;
}
.ol-control button {
  background-color: #cde7bb50 !important;
  backdrop-filter: blur(3px);
  color: #202e17 !important;
  box-sizing: content-box;
  transition: all 0.1s;
  padding: 5px !important;
  border-radius: 15px !important;
}
.ol-zoom .ol-zoom-in {
  border-radius: 15px 15px 3px 3px !important;
  margin-bottom: 5px;
  padding: 5px 0px 0px 0px !important;
  display: none;
}
.ol-zoom .ol-zoom-out {
  border-radius: 3px 3px 15px 15px !important;
  padding: 0px 0px 5px 0px !important;
  display: none;
}
.ol-attribution {
  margin-bottom: 35px;
}
.ol-attribution button {
  padding: 0 !important;
  background: none !important;
}

.search md-icon {
  margin-left: 10px;
}
.search:focus {
  border: 2px solid var(--md-sys-color-on-surface);
}
.search {
  border: 2px solid var(--md-sys-color-surface);
  border-radius: 100px;
  transition: all 0.5s;
}
.stationDistance {
  margin-left: auto;
  margin-right: 5px;
  opacity: 0.8;
  font-weight: 300;
  display: flex;
}
.stationDistance md-icon {
    margin-right: 5px;
    font-size: 16px;
}
.stationName {
  font-weight: 400;
  font-size: 1.2rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}
.iconFill{
    font-variation-settings:  'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}
md-list.listOfStations, md-list.favouriteStations {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    transform: translateY(-20px);
    opacity: 0;
    padding: 0 40px;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100dvh - 180px);
    position: relative;
    padding-bottom: 50px;
    margin-top: 10px;
    display: none;
}
.hideStations {
  position: absolute;
  height: max-content !important;
  top: 97px;
  animation: hideOut 0.5s forwards;
  transform: translateX(0);
  left: 0;
  margin: 0 5vw;
}
.hideStations .stationItem {
  animation: none !important;
}
@keyframes hideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.arrivalsHolder {
  transform: translateX(100dvh);
  transition: all 0.5s;
  position: absolute;
  top: 40px;
  z-index: 3;
  height: calc(100dvh - 50px);
  left: 0;
  width: 100%;
  overscroll-behavior: none;
  overflow-x : hidden;
  overflow-y : scroll;
  opacity: 0;
}
md-list-item.stationItem {
  background: var(--md-sys-color-surface-container);
  margin: 10px 0;

  border-radius: 25px;
  cursor: pointer;
}
md-list .arrivalItem {
  /* padding: 0; */
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  color: var(--md-sys-color-on-surface);
}
.busImg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  height: 100%;
  background: #000000ba;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;

}
span.hidden{
  display: none;
}
img.busImgElement {
  object-fit: fill;
  max-width: 100%;
  border-radius: 25px;
  padding: 10px;
  box-sizing: border-box;
  animation: show 0.5s forwards;
}
@keyframes show {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.eta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}
.arrivalTime {
  white-space: nowrap;
  width: min-content;
  background: linear-gradient(
    163deg,
    var(--md-sys-color-surface-container-highest),
    #00000021
  );
  padding: 5px 13px;
  margin-top: 10px;
  border-radius: 100px;
  display: flex;
  margin-right: 10px;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  --md-icon-size: 19px;
}
.arrivalRed {
  animation: blinking 2s ease-in infinite;
  color: var(--md-sys-color-on-error-container);
}
.arrivalGreen {
  background: linear-gradient(
    163deg,
    var(--md-sys-color-surface-container-highest),
    #00000021
  );
}
.arrivalTime md-icon {
  animation: rotatingIcon 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  transform: rotate(-10deg);
}
@keyframes blinking {
  0%,
  100% {
    color: var(--md-sys-color-on-error-container);
  }
  50% {
    color: var(--md-sys-color-error-container);
  }
}
@keyframes rotatingIcon {
  0%,
  30%,
  80%,
  100% {
    transform: rotate(-10deg);
  }
  10%,
  20%,
  90% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(1turn);
  }
  50.1% {
    transform: rotate(0turn);
  }
}
.arrivalItem {
  background: var(--md-sys-color-surface-container);
  margin: 10px;
  width: 90%;
  border-radius: 25px;
  align-items: center;
  padding: 19px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.arrivalData {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.buses .busNo {
  height: 25px;
  width: 25px;
}
md-tabs.tabs {
  width: 100%;
  z-index: 3;
  /* --md-primary-tab-active-indicator-color: transparent;*/
  border: none;
  position: sticky;
  top: 38px;

  transition: all 0.5s;
}
md-tabs::part(divider) {
}
/*md-primary-tab[active=""] {
    --_container-color: linear-gradient(170deg, var(--md-sys-color-secondary-container), var(--md-sys-color-inverse-primary));
    color: var(--md-sys-color-on-secondary-container);
}*/
.busNo {
  font-weight: 900;
   height: 60%; 
  border-radius: 200px;
  aspect-ratio: 1 / 1;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
}
.busNo2 {
  font-weight: 900;
  height: 30px;
  border-radius: 200px;
  aspect-ratio: 1 / 1;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
  position: relative;
  cursor: pointer;
}


.nextBus {
  background: transparent;
  border-radius: 0;
  width: 90%;
}

.busTemplate {
  display: flex;
  padding: 10px 0;
  width: 100%;
  flex-wrap: wrap;
}
.busTemplate .arrivalItem {
  width: auto;
  margin: 0;
  padding: 10px;
  flex: 1 1 0;
  gap: 10px;
  background: none;
}
.busTemplate .arrivalItem .arrivalData {
  gap: 0px;
}
.lineTimes {
    position: absolute !important;
    top: 40px !important;
    overscroll-behavior: none;
    height: calc(100dvh - 55px);
    animation: showIn 0.5s;
    transition: transform 0.5s !important;
    transform: translateX(0);
}
.lineTimes .busNo2 {
  background: var(--md-sys-color-surface-container-high);
}

.lineTimes .arrivalItem {
  background: none;
  border-bottom: 1px solid var(--md-sys-color-outline-variant, #cac4d0);
  border-radius: 0;
}
.lineTimes .arrivalTime {
  padding: 0;
  background: none;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
}
sub {
  font-size: x-small;
  margin-left: 2px;
  vertical-align: baseline;
}
.arrivalItem.currentTime > .busNo2 {
  background: #860000;
}
.lineTimes md-icon-button.iks {
  top: 0;
  left: 0;
}
.iksa{
    visibility:hidden;pointer-events:none;
}
@keyframes showIn {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
span.nextBusTitle {
  width: 100%;
  color: var(--md-sys-color-on-surface);
  display: block;
  font-size: 1.5rem;
  text-align: center;
}
.none{
  display: none;
}
.arrivalsScroll {
    z-index: 2;
display: flex;
  width: calc(100% - 40px);
  margin: 0 20px;
  position: relative;
  color: var(--md-sys-color-on-surface);
  flex-direction: column;
  align-items: center;
  transform: translateX(0) translateY(-20px);
 opacity: 0;
 transition: all 0.3s;
 padding-bottom: 50px;
}

.hideLoad {
  transition: all 0.3s;
  scale: 0;
  opacity: 0;
  transform-origin: 50% -50%;
}

.loader {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 35px;
  display: none;
  aspect-ratio: 1;
  --_color: red;
  --_g: no-repeat radial-gradient(farthest-side, var(--_color) 94%, #0000);
  background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 1s infinite, showLoader 0.3s;
  transition: all 0.3s;
}
@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
@keyframes showLoader {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 40% 40%;
  }
}
.infoBar {
  position: fixed;
  bottom: 15px;
  z-index: 4;
  background: var(--md-sys-color-surface);
  width: 100%;
  height: 30px;
  display: flex
;
transition: all 0.5s;
  border-top: 1px var(--md-sys-color-outline-variant, #cac4d0) solid;
  overflow: hidden;
  white-space: nowrap;
  color: var(--md-sys-color-on-surface);
  align-items: center;
  transform: translateY(30px);
}
.infoText {
  display: inline-block;
  padding:0;
  animation: slideText 30s linear infinite;
}

@keyframes slideText {
  from {
      transform: translateX(100vw);
  }
  to {
      transform: translateX(-100%);
  }
}
.arrivalsOnStation{
flex-direction: column !important;
}
.arrivalsOnStation .iks {
  position: sticky;
  top: -1px;
  z-index: 90;
  width: 100%;
  background: var(--md-sys-color-surface);
  padding: 8px 0;
}
.arrivalsOnStation.arrivalsScroll {
  
  display: flex
;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: normal;
  position: absolute !important;
  top: 40px !important;
  height: calc(100dvh - 55px);

  transition: transform 0.5s !important;
  transform: translateX(0);
  overscroll-behavior: none;
}
.arOnRoute {
  display: flex
;
  flex-direction: column;
  margin-left: 10px;
  gap: 0px;
}
.arrDiv {
  display: flex
;
  justify-content: left;
}
.lineStation {
  width: 8px;
  height: 50px;
  background: var(--md-sys-color-primary);
  /* background-image: url(./images/bus.svg); */
  position: relative;
}
.arrDiv.half-hidden-first div .lineStationImg, .arrDiv.half-hidden div .lineStationImg {
  width: 25px;
  height: 25px;
  border-width: 0;
}
.lineStationImg {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
background-color: darkred;
border: 5px red solid ;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
img.googleLogo {
  position: absolute;
  bottom: 9dvh;
  left: 17px;
  z-index: 2;
}
.busOnStation {
  display: flex
;
  align-items: center;
  justify-content: center;
  color: rgb(140, 136, 65);
}
.busBetween{
  display: flex
;
    align-items: center;
    justify-content: center;
}
.busBetween md-icon {
  color: rgb(140, 136, 65);
  transform: translateY(-25px);
  font-size: 1rem;
  border-radius: 50%;
  width: 20px;
    height: 20px;
}
.busOnStation md-icon {
  color: rgb(140, 136, 65);
  font-size: 1.2rem;
  border-radius: 50%;
  scale: 1.1;
}
.etaStation {
  font-size: 1.1rem;
  display: flex;
background: var(--md-sys-color-surface-container-low);
  align-items: center;
  height: 50px;
  position: relative;
  padding: 0 10px;
}
.noBG{
  background: none;
}
.etaStation md-icon {
  font-size: 12px;
  animation: rotatingIcon 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  position: absolute;
  right: -4px;
  top: 6px;
}
.etaStation sub{
  margin-top: .5rem;
}


.etaHoder {
  height: fit-content;
width: min-content;

  border-radius: 25px;
}
.nameStation {
  margin-left: 20px;
  font-size: .9rem;
  align-items: center;
  display: flex
;
}
.arrivalsOnStation .iks {
  position: sticky;
  top: 0;
  z-index: 90;
  width: 100%;
}
.etaHolder {
  display: flex
;

gap: 40px;
}
.arrivalsColumns {
  display: flex
;
  margin-left: auto;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 100dvh;
  height: fit-content;
  max-width: 74vw;
    overflow-x: scroll;
}
 p {
  color: var(--md-sys-color-on-surface);
  align-items: center;
  margin: 10px 0;
  display: flex
;
  justify-content: center;
  gap: 10px;
}
p md-icon {
  font-size: 1.4rem;
}
.arrivalsScroll p{
  margin-top: 30px;
}
.half-hidden, .half-hidden-first {
  position: relative;
}

.half-hidden::after {
  content: '';
  position: absolute;
  bottom: -12.3px;
  left: -10px;
  height: 50%;
  width: 25px;
  background: var(--md-sys-color-surface);
  pointer-events: none;
}
.half-hidden-first::after {
  content: '';
  position: absolute;
  top: -12.3px;
  left: -10px;
  height: 50%;
  width: 25px;
  background: var(--md-sys-color-surface);
  pointer-events: none;
}
md-fab.refresh, .directionsButton {
  position: fixed;
  bottom: 70px;
  z-index: 100;
  right: 25px;
  transition: all .5s;
}
 md-fab.refresh {
 
  bottom: 140px;
 
}
.directions{
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: normal;
height: calc(100dvh - 55px);
transition: transform 0.5s !important;
overscroll-behavior: none;
position: absolute;
top: 40px;
transform: translateX(100vw);
}
md-filled-text-field.locationInput {
  margin: 10px auto;
  width: 80%;
  border: 2px solid var(--ol-subtle-foreground-color);
  border-radius: 25px;
  --md-filled-text-field-container-shape: 25px;
  --md-filled-text-field-label-text-color: #898989;
}


md-filled-text-field.timeInput {
  width: 120px;
  border: 2px solid var(--ol-subtle-foreground-color);
  border-radius: 250px;
}
.timeHolder {
  display: flex
;
  justify-content: space-evenly;
  margin-top: 10px;
}

.stepDiv {
  margin: 10px 0;
  padding: 20px;
  display: flex
;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  border-bottom: 5px solid var(--md-sys-color-surface);
}
.stepTextContent {
  width: 100%;
  display: flex
;
overflow: hidden;
  flex-direction: column;
  gap: 5px;
}
.stepTextContent div {
 font-size: 1rem;
 --md-icon-size: 1.1rem;
 display: flex;
 gap: 15px;
 flex-wrap: wrap;
}
.stepTextContent div span {
 display: flex;
 align-items: center;
 gap: 5px;
}
span.stepText.endStation {
  align-items: center;
  font-size: 1.1rem;
  --md-icon-size: 1rem;
  font-weight: bold;
  gap: 5px;
}
span.stepText.endStation md-icon {
  font-weight: bold;
}
.stepIcon .busNo {
  max-width: 20px;
  width: 20px;
}
b {
  font-weight: bold !important;
}
.stepsDir {
  background: var(--md-sys-color-surface-container-low);
 
  box-sizing: border-box;
  border-radius: 25px;
  
}
.goButton {
  width: 40%;
  margin: 10px auto;

}
.panel{
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s;
}
.pac-container {
  background: var(--md-sys-color-surface-container-highest);
  border: none;
  border-radius: 25px;
  margin-top: 5px;
  width: 100%;
}
.pac-container::after {
  background-position: center !important;
  border-top: 3px solid var(--md-sys-color-surface);
  padding: 10px 0;
  height: 30px;
}
.pac-item {
 border: none;
  padding: 10px;
  color: var(--md-sys-color-on-surface);
}
.pac-item:not(:first-child) {
  border-top: 3px solid var(--md-sys-color-surface);
 
}
span.pac-item-query {
  color: var(--md-sys-color-on-surface);
}
.chipsHolder {
  display: flex
;
  flex-wrap: wrap;
  gap: 5px;
}
.chip{
  flex-grow: 1; /* Items will expand to fill available space */
  flex-basis: 100px;
}
.agencyLogo {
  height: 20px;
  border-radius: 1000px;
}
.stepIcon {
  display: flex
;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.connectingLine {
  height: 15px;
  width: 1px;
  border-left: 3px dotted var(--md-sys-color-on-surface);
}
.routeDiv {
  background: var(--md-sys-color-surface-container);
  width: 100%;
  height: 40px;
  z-index: 55;
}
.routeDiv {
  background: var(--md-sys-color-surface-container);
  width: 100%;
  height: 40px;
  z-index: 55;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  display: flex
;
    gap: 5px;
}
.routeDiv .connectingLine {
  display: none;
}
.routeDiv .agencyLogo {
  position: absolute;
  left: 9px;
  bottom: -10px;
  scale: .8;
  border: 1px solid var(--md-sys-color-on-surface);
}
.busHolder {
  position: relative;
}
.textMin {
  position: absolute;
  top: 12px;
  font-size: .8rem;
  right: -5px;
  opacity: .8;
  text-align: right;
}
div#popup-content {
  display: flex
;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
div#popup {
  transform: translate(-50%, -50%);
  position: absolute;
  background: var(--md-sys-color-secondary);
  padding: 10px;
  border-radius: 25px;
animation: popup .4s cubic-bezier(0.69, 0, 0.3, 1);
transform-origin: center center;
}
@keyframes popup {
  from{
    transform: translate(-50%, -50%) scale(0);
  }
  to{
    transform: translate(-50%, -50%) scale(1);
  }
}