body{
    background-color: var(--md-sys-color-surface);
  display: flex;
    flex-direction: column;
    height: 100vh;
}
.gmnoprint{
    display: none;
}

h1.title {
    position: absolute;
    top: 0;
    padding: 13px 0;
    transition: all .4s  cubic-bezier(0.05, 0.7, 0.1, 1);
    left: 0;
    background: var(--md-sys-color-surface);
    z-index: 10;
   
    width: 100%;
    color: var(--md-sys-color-on-surface);
    font-family: Roboto;
    text-align: center;
}
.arrivalsContainer {
    position: absolute;
    top: 12px;
    transition: all .4s  cubic-bezier(0.05, 0.7, 0.1, 1);
    font-family: Roboto;
    transform: translateX(30px);
    opacity: 0;
    width: 100%;
    z-index: 3;
height: 100%;
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
}
md-icon-button.iks {
    position: absolute;
    left: 16px;

}
.buses {
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    flex-wrap: wrap;
}
md-circular-progress#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    /* margin-top: 20px; */
    --_active-indicator-height: 0;
    --_hover-active-indicator-height: 0;
    --_focus-active-indicator-height: 0;
    width: 100%;
    --md-filled-text-field-container-shape: 150px;
    /* margin-left: auto; */
    /* margin-right: auto; */
  
    
    
    /* position: relative; */
    display: block;

}
html, body{
    width: 100%;
    height: 100dvh;
    margin: 0;
    overscroll-behavior: none;
    overflow: hidden;
  
}
.center {
    margin-left: 10px;
    padding: 5px 18px;
    white-space: nowrap;
    border-radius: 100px;
    background: var(--md-sys-color-surface-container-highest);
}
.searchContain{
    position: absolute;
    top: 10px;
    padding: 20px 0px;
    background-color: var(--md-sys-color-surface);
    height: 50px;
    display: flex;
    justify-content: center;
    width: 93%;
  margin-bottom: 20px;
   z-index: 2;
}
.gm-style iframe + div { border:none!important; }
#map div div a[target='_blank'] div{
    background-color: white;
    border-radius: 100px;
padding: 3px;
    margin-left: 20px !important;
} 
@media (prefers-color-scheme: dark  ){
    #map div div a[target='_blank'] div{
        background-color:#242f3e;}
}

@media (prefers-color-scheme: light ){
    #map div div a[target='_blank'] div{
        background-color:#fbf9f7;}
}
#map div div a[target='_blank'] div img {
   left: unset !important;
   top: unset !important;
}
md-icon-button.mapca {
    position: absolute;
    right: 16px;
}
md-fab.centerMap {
    margin-bottom: 40px;
    margin-right: 15px;
}
#map {
    margin-bottom: -30px;
    width: 102%;
    margin-left: -1%;
    height: 77lvh;
}
.search md-icon{margin-left: 10px;}
.stationDistance {
   float: right;
   margin-right: 5px;
   opacity: .8;
   font-weight: 300;
}
.stationName{
    font-weight: 400;
    font-size: 1.2rem;
}
md-list#listOfStations {
    margin-top: 55px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
md-list-item.stationItem {
    background: var(--md-sys-color-surface-container);
    margin: 10px;
   
    border-radius: 20px;
    cursor: pointer;
    animation: show .1s ease-in-out forwards;
}
::view-transition-old(stitm){
    opacity: 0;
    transition: all .2s;
}
::view-transition-new(stitm) {

 
}
::view-transition-old(stitm),
::view-transition-new(stitm) {
 height: 100%;
animation: none;
  mix-blend-mode: normal;
}


@keyframes show {
    0%{
        scale: .95;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
.eta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}
span.arrivalTime {
    white-space: nowrap;
    width: min-content;
    background: var(--md-sys-color-surface-container-highest);
    padding: 5px;
    margin-top: 10px;
    border-radius: 100px;
    margin-right: 10px;
}
.arrivalItem {
    background: var(--md-sys-color-surface-container-high);
    margin: 10px;
    width: 70%;
    border-radius: 25px;
    align-items: center;
    padding: 19px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.arrivalData {
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.buses .busNo {
    height: 25px;
    width: 25px;
   
}
.busNo {
   font-weight: 900;
    height: 60%;
    border-radius: 200px;
    aspect-ratio: 1 / 1;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
 
}.busNo2 {
    font-weight: 900;
    height: 30px;
    border-radius: 200px;
    aspect-ratio: 1 / 1;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
    margin-right: 15px;
}



  .pull-to-refresh md-circular-progress {
    --_size: 35px;
    --_active-indicator-width: 13;
    background: var(--md-sys-color-surface-container);
    border-radius: 1000px;
    border: 3px var(--md-sys-color-surface-container) solid;
}

.arrivalsScroll {
    overflow-y: scroll;
    view-transition-name: stitm;
    top: 0;
    display: flex;
   border-radius: 20px;
    width: 100%;
    position: absolute;
    background: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
    font-family: Roboto;
    margin-top: 100px;
    min-height: 84vh;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    animation: kkk .3s   forwards  ;
}
@keyframes kkk {
    0%{
        min-height: 84vh;
        border-radius: 20px;
        background: var(--md-sys-color-surface-container);
    }
    100%{
        border-radius: 0px;
        min-height: calc(100vh - 100px);
        background: var(--md-sys-color-surface);
    }
}
.hideLoad{
    transition: all .3s;
    scale: 0;
    opacity: 0;
    transform-origin: 50% -50%;
}
  .pull-to-refresh {
    position: fixed;
    top: -50px;
    width: 100%;
    height: 60px;
    transform: translateY(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
  
  }
  .pull-to-refresh.visible {
    top: 0;
  }