@media (prefers-color-scheme: dark) {
  :root,
  :host {
    --md-sys-color-background: #101411;
    --md-sys-color-on-background: #dfe4de;
    --md-sys-color-surface: #101411;
    --md-sys-color-surface-dim: #101411;
    --md-sys-color-surface-bright: #363a36;
    --md-sys-color-surface-container-lowest: #0b0f0c;
    --md-sys-color-surface-container-low: #181d19;
    --md-sys-color-surface-container: linear-gradient(329deg, #161a17, #1e241f);
    --md-sys-color-surface-container-high: #262b27;
    --md-sys-color-surface-container-highest: #313632;
    --md-sys-color-on-surface: #dfe4de;
    --md-sys-color-surface-variant: #3f4942;
    --md-sys-color-on-surface-variant: #bec9bf;
    --md-sys-color-inverse-surface: #dfe4de;
    --md-sys-color-inverse-on-surface: #2d322e;
    --md-sys-color-outline: #89938a;
    --md-sys-color-outline-variant: #3f4942;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #83d8a7;
    --md-sys-color-primary: #83d8a7;
    --md-sys-color-on-primary: #003921;
    --md-sys-color-primary-container: #005f3a;
    --md-sys-color-on-primary-container: #d0ffdf;
    --md-sys-color-inverse-primary: #086c44;
    --md-sys-color-secondary: #accfb7;
    --md-sys-color-on-secondary: #183626;
    --md-sys-color-secondary-container: #274533;
    --md-sys-color-on-secondary-container: #b9dcc3;
    --md-sys-color-tertiary: #bfc2ff;
    --md-sys-color-on-tertiary: #24286d;
    --md-sys-color-tertiary-container: #484d92;
    --md-sys-color-on-tertiary-container: #f8f5ff;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
  }
}
@media (prefers-color-scheme: light) {
  :root,
  :host {
    --md-sys-color-background: #f7faf4;
    --md-sys-color-on-background: #181d19;
    --md-sys-color-surface: #f7faf4;
    --md-sys-color-surface-dim: #d7dbd5;
    --md-sys-color-surface-bright: #f7faf4;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f1f5ef;
    --md-sys-color-surface-container: #ebefe9;
    --md-sys-color-surface-container-high: #e5e9e3;
    --md-sys-color-surface-container-highest: #dfe4de;
    --md-sys-color-on-surface: #181d19;
    --md-sys-color-surface-variant: #dae5db;
    --md-sys-color-on-surface-variant: #3f4942;
    --md-sys-color-inverse-surface: #2d322e;
    --md-sys-color-inverse-on-surface: #eef2ec;
    --md-sys-color-outline: #6f7a71;
    --md-sys-color-outline-variant: #bec9bf;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #086c44;
    --md-sys-color-primary: #005332;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #217a50;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #83d8a7;
    --md-sys-color-secondary: #466552;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #ccefd6;
    --md-sys-color-on-secondary-container: #32513e;
    --md-sys-color-tertiary: #3c4085;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #6065ac;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
  }
}
