@media (prefers-color-scheme: dark) {:root,:host{--md-sys-color-background:#10150d;--md-sys-color-on-background:#e0e4d7;--md-sys-color-surface:#10150d;--md-sys-color-surface-dim:#10150d;--md-sys-color-surface-bright:#363b32;--md-sys-color-surface-container-lowest:#0b0f08;--md-sys-color-surface-container-low:#181d15;--md-sys-color-surface-container:linear-gradient(160deg, #1c2119, #121511);--md-sys-color-surface-container-high:#272b23;--md-sys-color-surface-container-highest:#32362d;--md-sys-color-on-surface:#e0e4d7;--md-sys-color-surface-variant:#41493a;--md-sys-color-on-surface-variant:#c1cab6;--md-sys-color-inverse-surface:#e0e4d7;--md-sys-color-inverse-on-surface:#2d3229;--md-sys-color-outline:#8b9482;--md-sys-color-outline-variant:#41493a;--md-sys-color-shadow:#000000;--md-sys-color-scrim:#000000;--md-sys-color-surface-tint:#8fda66;--md-sys-color-primary:#8fda66;--md-sys-color-on-primary:#123800;--md-sys-color-primary-container:#266400;--md-sys-color-on-primary-container:#f7ffeb;--md-sys-color-inverse-primary:#2a6c00;--md-sys-color-secondary:#b0d09a;--md-sys-color-on-secondary:#1d370f;--md-sys-color-secondary-container:#2b461d;--md-sys-color-on-secondary-container:#bddea6;--md-sys-color-tertiary:#84d2e2;--md-sys-color-on-tertiary:#00363e;--md-sys-color-tertiary-container:#00606d;--md-sys-color-on-tertiary-container:#f6fdff;--md-sys-color-error:#ffb4ab;--md-sys-color-on-error:#690005;--md-sys-color-error-container:#93000a;--md-sys-color-on-error-container:#ffdad6;}}
@media (prefers-color-scheme: light) {:root,:host{--md-sys-color-background:#f7fbee;--md-sys-color-on-background:#181d15;--md-sys-color-surface:#f7fbee;--md-sys-color-surface-dim:#d7dccf;--md-sys-color-surface-bright:#f7fbee;--md-sys-color-surface-container-lowest:#ffffff;--md-sys-color-surface-container-low:#f1f5e8;--md-sys-color-surface-container:#ebf0e2;--md-sys-color-surface-container-high:#e6eadd;--md-sys-color-surface-container-highest:#e0e4d7;--md-sys-color-on-surface:#181d15;--md-sys-color-surface-variant:#dde6d1;--md-sys-color-on-surface-variant:#41493a;--md-sys-color-inverse-surface:#2d3229;--md-sys-color-inverse-on-surface:#eef2e5;--md-sys-color-outline:#717a69;--md-sys-color-outline-variant:#c1cab6;--md-sys-color-shadow:#000000;--md-sys-color-scrim:#000000;--md-sys-color-surface-tint:#2a6c00;--md-sys-color-primary:#205700;--md-sys-color-on-primary:#ffffff;--md-sys-color-primary-container:#3b7f15;--md-sys-color-on-primary-container:#ffffff;--md-sys-color-inverse-primary:#8fda66;--md-sys-color-secondary:#4a6639;--md-sys-color-on-secondary:#ffffff;--md-sys-color-secondary-container:#cff1b8;--md-sys-color-on-secondary-container:#365227;--md-sys-color-tertiary:#005560;--md-sys-color-on-tertiary:#ffffff;--md-sys-color-tertiary-container:#237b89;--md-sys-color-on-tertiary-container:#ffffff;--md-sys-color-error:#ba1a1a;--md-sys-color-on-error:#ffffff;--md-sys-color-error-container:#ffdad6;--md-sys-color-on-error-container:#410002;}}
body{
    --transDur:.3s;
}
.titleTxt {
    position: absolute;
    left: 10px;
    top: 0;
  }
  .titleFull {
    top: 20px !important;
    position: fixed !important;
    margin: 0 !important;
    --md-elevation-level: 0 !important;
  }
  .sqe {
    background-color: var(--md-sys-color-on-primary-fixed);
  }
  .bottomSheetTitle {
    position: absolute;
    color: var(--md-sys-color-on-surface);
    font-family: sans-serif;
    margin-top: -100px;
    top: 20px;
    --md-elevation-level: 2;
    max-width: 70vw;
    border-radius: 30px;
    transition: all var(--transDur) cubic-bezier(0.05, 0.7, 0.1, 1);
    background: var(--md-sys-color-surface);
    text-align: center;
    padding: 20px 40px 20px 40px;
    animation: scaleupy var(--transDur) 0.1s forwards cubic-bezier(0.05, 0.7, 0.1, 1);
    scale: 0;
}
  @keyframes scaleupy {
    from {
      scale: 0;
    }
    to {
      scale: 1;
    }
  }
  .bottomSheet {
    position: absolute;
    width: 100%;
    overflow: hidden;
    flex: 3 0 auto;
    transition: all var(--transDur);
    background-color: var(--md-sys-color-surface);
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 99;
    /* height: 100%; */
}
  .bottomSheetHandle {
    transition: all var(--transDur);
    margin-top: 7px;
    background: var(--md-sys-color-on-surface);
    width: 10%;
    height: 3px;
    border-radius: 50px;
  }
  .handleHolder {
    left: 50%;
    background: var(--md-sys-color-surface);
    transform: translateX(-50%);
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    cursor: ns-resize;
    justify-content: center;
    height: 40px;
    z-index: 200;
}

  .sheetContents:not(.not-selectable) {
    transition: all var(--transDur) cubic-bezier(0.05, 0.7, 0.1, 1);
  }
  .sheetContents {
    display: block;
    overscroll-behavior: none;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
  .escapingSheet {
    opacity: 0.9;
    transform: scale(0.9, 1);
  }
  .bottomSheetScrim {
    position: absolute;
    height: 100vh;
    overscroll-behavior: none;
    width: 100vw;
    top: 0;
    transition: all var(--transDur) ease-out;
  
    background-color: black;
    opacity: 0;
    z-index: 98;
  }
  
  .mainSheet {
    display: flex;
    transition: all calc(var(--transDur) - 0.1s);
    padding: 40px 5vw 30px 5vw;
    position: relative;
    flex-wrap: wrap;

    justify-content: center;
    overscroll-behavior: none;
    align-items: center;
  }
  .fullscreenSheet {
    border-radius: 0;
  }
  