body {
  background-color: var(--md-sys-color-surface);
  height: 100dvh;
  font-family: sans-serif !important;
  user-select: none;
}
md-primary-tab {
  font-family: sans-serif;
}
.gmnoprint {
  display: none;
}
.titleHolder {
  margin-left: auto;
}
.title {
  z-index: 3;
  padding: 0 20px;
  margin: 0;
  display: block;
  height: max-content;
  justify-content: left;
  align-items: center;
  display: flex;
  transition: all 0.4s;
  background: var(--md-sys-color-surface);
  width: calc(100% - 40px);
  color: var(--md-sys-color-on-surface);
  text-align: center;
  position: sticky;
  top: -1px;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 1.5rem !important;
  }
  .center {
    font-size: 1rem !important;
    padding: 0 !important;
  }
}

.buses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35px, 35px));
  gap: min(2vw, 10px);
  margin-top: 7px;
}

md-circular-progress#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

md-filled-text-field {
  --_active-indicator-height: 0;
  --_hover-active-indicator-height: 0;
  --_focus-active-indicator-height: 0;
  width: 100%;
  --md-filled-text-field-container-shape: 150px;
  --_container-color: linear-gradient(
    188deg,
    var(--md-sys-color-surface-container-highest),
    #1919192e
  );
  display: block;
}
html,
body {
  width: 100%;
  height: 100dvh;
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background: black;
}

.station {
  padding: 15px;
  background: var(--md-sys-color-surface-container);
  border-radius: 25px;
  margin: 10px 0;
  color: var(--md-sys-color-on-surface);
  position: relative;
  animation: arrivalItemShow 0.5s cubic-bezier(0.38, 1.21, 0.3, 1.33) forwards;
}
.center {
  margin-left: 10px;
  padding: 4px 4px;
  position: relative;
  white-space: nowrap;
  border-radius: 100px;
  background: linear-gradient(
    134deg,
    var(--md-sys-color-surface-bright),
    #00000026
  );
}
.textHolder {
  align-items: center;
  display: flex;
}
.searchContain {
  position: sticky;
  top: 40px;
  width: 100%;
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.38, 1.21, 0.22, 1);
  transform: translateX(0);
  background: var(--md-sys-color-surface);
  padding: 0 30px;
}
#tabsFav {
  top: 96px !important;
}
.gm-style iframe + div {
  border: none !important;
}
#map div div a[target="_blank"] div {
  background-color: white;
  border-radius: 100px;
  padding: 3px;
  margin-left: 20px !important;
}
@media (prefers-color-scheme: dark) {
  #map div div a[target="_blank"] div {
    background-color: #242f3e;
  }
  .arrivalRed {
    background: linear-gradient(
      329deg,
      var(--md-sys-color-on-error),
      var(--md-sys-color-error-container)
    ) !important;
  }
  .arrivalBlue {
    background: linear-gradient(329deg, #001b69, #003b93) !important;
  }
  .arrivalTime {
    color: #c4dfc0;
  }
  .arrivalYellow {
    background: linear-gradient(163deg, #fce45c, #b49901) !important;
    color: #000000d5;
  }
}

@media (prefers-color-scheme: light) {
  #map div div a[target="_blank"] div {
    background-color: #fbf9f7;
  }
  .arrivalRed {
    background: linear-gradient(
      163deg,
      var(--md-sys-color-error),
      var(--md-sys-color-on-error-container)
    ) !important;
  }
  .arrivalBlue {
    background: linear-gradient(163deg, #1a55ba, #000941) !important;
  }
  .arrivalTime {
    color: #264720;
  }
  .arrivalYellow {
    background: linear-gradient(147deg, #ffe86a, #d6b400) !important;
    color: #000000d5;
  }
}
#map div div a[target="_blank"] div img {
  left: unset !important;
  top: unset !important;
}

md-fab.centerMap,
.switch {
  position: absolute;
  bottom: 9dvh;
  right: 17px;
  z-index: 2;
}
.switch {
  right: 12px;
  bottom: 16dvh;
}
#map {
  margin-bottom: -30px;
  width: 100%;
  height: 67dvh;
  position: relative;
}
.ol-control {
  background: none !important;
}
.ol-control button {
  background-color: #cde7bb50 !important;
  backdrop-filter: blur(3px);
  color: #202e17 !important;
  box-sizing: content-box;
  transition: all 0.1s;
  padding: 5px !important;
  border-radius: 15px !important;
}
.ol-zoom .ol-zoom-in {
  border-radius: 15px 15px 3px 3px !important;
  margin-bottom: 5px;
  padding: 5px 0px 0px 0px !important;
  display: none;
}
.ol-zoom .ol-zoom-out {
  border-radius: 3px 3px 15px 15px !important;
  padding: 0px 0px 5px 0px !important;
  display: none;
}
.ol-attribution {
  margin-bottom: 35px;
}
.ol-attribution button {
  padding: 0 !important;
  background: none !important;
}

.search md-icon {
  margin-left: 10px;
}
.search:focus {
  border: 2px solid var(--md-sys-color-on-surface);
}
.search {
  border: 2px solid var(--md-sys-color-surface);
  border-radius: 100px;
  transition: all 0.5s;
}
.stationDistance {
  margin-left: auto;
  margin-right: 5px;
  opacity: 0.8;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.stationDistance md-icon {
  margin-right: 5px;
  font-size: 16px;
}
.stationName {
  font-weight: 400;
  font-size: 1.2rem;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}
.iconFill {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 40;
}
md-list.listOfStations,
md-list.favouriteStations {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  transition: all 0.6s cubic-bezier(0.38, 1.21, 0.22, 1);
  transform: translateY(-20px);
  opacity: 0;
  padding: 0 40px;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100dvh - 240px);
  position: relative;
  padding-bottom: 50px;
  margin-top: 10px;
  display: none;
}
.hideStations {
  position: absolute;
  height: max-content !important;
  top: 97px;
  animation: hideOut 0.5s forwards;
  transform: translateX(0);
  left: 0;
  margin: 0 5vw;
}
.hideStations .stationItem {
  animation: none !important;
}
@keyframes hideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.arrivalsHolder {
  transform: translateX(100dvh);
  transition: all 0.6s cubic-bezier(0.38, 1.21, 0.22, 1);
  position: absolute;
  top: 40px;
  z-index: 3;
  height: calc(100dvh - 110px);
  left: 0;
  width: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
md-list-item.stationItem {
  background: var(--md-sys-color-surface-container);
  margin: 10px 0;

  border-radius: 25px;
  cursor: pointer;
}
md-list .arrivalItem {
  /* padding: 0; */
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  color: var(--md-sys-color-on-surface);
}

span.hidden {
  display: none;
}
img.busImgElement {
  max-width: 100%;
  border-radius: 25px;
  z-index: 2;
  margin-top: 10px;
  position: relative;
}
.busAuthor {
  position: absolute;
  bottom: 3px;
  z-index: 5;
  padding: 7px 13px;
  box-sizing: border-box;
  background: RGBA(0, 0, 0, 0.6);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  backdrop-filter: blur(3px);
  right: 0;
  --md-icon-size: 15px;
  border-radius: 15px 0px 25px 0px;
}
.busImgHolder {
  position: relative;
}
@keyframes show {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.eta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}
.arrivalTime {
  position: relative;
  white-space: nowrap;
  width: min-content;
  background: linear-gradient(
    163deg,
    var(--md-sys-color-surface-container-highest),
    #00000021
  );
  padding: 5px 13px;
  margin-top: 10px;
  border-radius: 100px;
  display: flex;
  margin-right: 10px;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  --md-icon-size: 19px;
}
.arrivalRed {
  animation: blinking 2s ease-in infinite;
  color: var(--md-sys-color-on-error-container);
}
.arrivalBlue {
  animation: blinkingBlue 2s ease-in infinite;
  color: var(--md-sys-color-on-error-container);
}
.arrivalGreen {
  color: var(--md-sys-color-surface-tint);
}
.arrivalTime md-icon {
  animation: rotatingIcon 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  transform: rotate(-10deg);
}
@keyframes blinking {
  0%,
  100% {
    color: white;
  }
  50% {
    color: #690005;
  }
}
@keyframes blinkingBlue {
  0%,
  100% {
    color: white;
  }
  50% {
    color: #003b93;
  }
}
@keyframes rotatingIcon {
  0%,
  30%,
  80%,
  100% {
    transform: rotate(-10deg);
  }
  10%,
  20%,
  90% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(1turn);
  }
  50.1% {
    transform: rotate(0turn);
  }
}
.arrivalItem {
  background: var(--md-sys-color-surface-container);
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  align-items: center;
  padding: 19px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  z-index: 2;
  transform: translateX(50px);
  opacity: 0;
  animation: arrivalItemShow 0.5s cubic-bezier(0.38, 1.21, 0.3, 1.33) forwards;
}
@keyframes arrivalItemShow {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.myBusDiv .arrivalItem span {
  font-size: 1.2rem;
  color: var(--md-sys-color-on-surface);
  font-weight: 400;
}
.arrivalData {
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
#searchRoutes {
  width: calc(100% - 25px);
  margin: 10px auto;
}
.buses .busNo {
  height: 25px;
  width: 25px;
}
md-tabs.tabs {
  width: 100%;
  z-index: 3;
  /* --md-primary-tab-active-indicator-color: transparent;*/
  border: none;
  position: sticky;
  top: 38px;

  transition: all 0.6s cubic-bezier(0.38, 1.21, 0.22, 1);
}
md-tabs::part(divider) {
}
/*md-primary-tab[active=""] {
    --_container-color: linear-gradient(170deg, var(--md-sys-color-secondary-container), var(--md-sys-color-inverse-primary));
    color: var(--md-sys-color-on-secondary-container);
}*/
.busNo {
  font-weight: 900;
  height: 60%;
  border-radius: 200px;
  aspect-ratio: 1 / 1;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
}
.busNo2 {
  font-weight: 900;
  height: 30px;
  border-radius: 200px;
  aspect-ratio: 1 / 1;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.nextBus {
  background: transparent;
  border-radius: 0;
  width: 90%;
}

.busTemplate {
  display: flex;
  padding: 10px 0;
  width: 100%;
  flex-wrap: wrap;
}
.busTemplate .arrivalItem {
  width: auto;
  margin: 0;
  padding: 10px;
  flex: 1 1 0;
  gap: 10px;
  background: none;
}
.busTemplate .arrivalItem .arrivalData {
  gap: 0px;
}
.lineTimes {
  position: absolute !important;
  top: 40px !important;
  overscroll-behavior: none;
  animation: showIn 0.5s cubic-bezier(0.38, 1.21, 0.22, 1);
  transform: translateX(0);
  height: calc(100dvh - 205px);
}
.lineTimes .busNo2 {
  background: var(--md-sys-color-surface-container-highest);
}

.lineTimes .arrivalItem {
  background: none;
  border-radius: 0;
  border-bottom: 1px solid var(--md-sys-color-surface-container-high, #cac4d0);
}
.lineTimes .arrivalTime {
  padding: 0;
  background: none;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.timet {
  background: var(--md-sys-color-surface-container);
  padding: 5px 10px;
  border-radius: 100px;
}
sub {
  font-size: x-small;
  margin-left: 2px;
  vertical-align: baseline;
}
div.arrivalItem.currentTime > div.arrivalData > div > span > .timet {
  background: #860000;
}
div.arrivalItem.previusTime > div.arrivalData > div > span > .timet {
  color: gray;
}
.newDay {
  margin: 20px;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--md-sys-color-outline);
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.newDay::first-letter {
  text-transform: uppercase;
}
.lineTimes md-icon-button.iks {
  top: 0;
  left: 0;
}
.iksa {
  visibility: hidden;
  pointer-events: none;
}
@keyframes showIn {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
span.nextBusTitle {
  width: 100%;
  color: var(--md-sys-color-on-surface);
  display: block;
  font-size: 1.5rem;
  text-align: center;
}
.none {
  display: none;
}
.arrivalsScroll {
  z-index: 2;
  display: flex;
  width: calc(100% - 40px);
  margin: 0 20px;
  position: relative;
  color: var(--md-sys-color-on-surface);
  flex-direction: column;
  align-items: center;

  transition: all 0.3s cubic-bezier(0.38, 1.21, 0.22, 1);
  padding-bottom: 50px;
}

.hideLoad {
  transition: all 0.3s;
  scale: 0;
  opacity: 0;
  transform-origin: 50% -50%;
}

.loader {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 35px;
  display: none;
  aspect-ratio: 1;
  --_color: red;
  --_g: no-repeat radial-gradient(farthest-side, var(--_color) 94%, #0000);
  background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 1s infinite, showLoader 0.3s;
  transition: all 0.3s cubic-bezier(0.38, 1.21, 0.22, 1);
}
@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
@keyframes showLoader {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 40% 40%;
  }
}
.infoBar {
  position: fixed;
  bottom: 73px;
  z-index: 4;
  background: var(--md-sys-color-surface-container);
  width: 100%;
  height: fit-content;
  display: flex;
  transition: all 0.5s cubic-bezier(0.38, 1.21, 0.22, 1);
  border-top: 1px var(--md-sys-color-outline-variant, #cac4d0) solid;
  overflow: hidden;
  white-space: nowrap;
  color: var(--md-sys-color-on-surface);
  align-items: center;
  transform: translateY(100%);
  view-transition-name: infoBar;
}
.infoTextContainer {
  overflow: hidden;
}
.infoText {
  display: inline-block;
  padding: 0;
  animation: slideText 30s linear infinite;
}
.changeTime {
  --_container-height: 30px;
  margin: 10px 0;
  margin-left: 10px;
}
@keyframes slideText {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(-100%);
  }
}
.myBusHolder {
  position: absolute;
  top: 40px;
  left: 0;
  transition: all 0.6s cubic-bezier(0.38, 1.21, 0.22, 1);
  width: 100%;
  transform: translateX(100vw);
  margin: 0;
  overscroll-behavior: none;
}
.myBusDiv .arrivalsOnStation {
  width: 100%;
  z-index: 1;
  padding-bottom: 100px;
  margin-top: 10px;
  overscroll-behavior: none;
  position: relative;
}
.arrivalsOnStation {
  flex-direction: column !important;
  view-transition-name: busArrivals;
}
.arrivalsOnStation .iks {
  position: sticky;
  top: -1px;
  z-index: 90;
  width: 100%;
  background: var(--md-sys-color-surface);
  padding: 8px 0;
}
.myBusDiv {
  height: calc(100dvh - 155px);
  box-sizing: border-box;
  transition: all 0.6s cubic-bezier(0.38, 1.21, 0.27, 1.17);
  padding: 0 30px;
  width: 100%;
  overscroll-behavior: none;
}
.myEtaHolder {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--md-sys-color-outline-variant, #cac4d0);
  width: 100%;
  justify-content: space-between;
  z-index: 9;
  background: var(--md-sys-color-surface);
  padding: 10px 20px;
  box-sizing: border-box;
}
.myEtaChips {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 30px;
  gap: 5px;
}
.myEtaHolder .selected {
  background: linear-gradient(
    163deg,
    var(--md-sys-color-surface-variant),
    var(--md-sys-color-outline-variant)
  );
}
.myEtaHolder .arrivalTime {
  margin: 0;
}
.busDataDiv {
  z-index: 2;
}
table.busDataTable {
  background: var(--md-sys-color-surface-container);
  width: 100%;
  border-radius: 25px;
  padding: 15px;
}
tr {
  line-height: 20px;
}
.arrivalsOnStation.arrivalsScroll {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: normal;
  position: absolute !important;
  top: 40px !important;
  height: calc(100dvh - 55px);

  transition: all 0.6s !important;
  transform: translateX(0);
  overscroll-behavior: none;
}
.arOnRoute {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 0px;
}
.arrDiv {
  display: flex;
  justify-content: left;
}
.lineStation {
  width: 7px;
  height: 48px;
  background: var(--md-sys-color-primary);
  position: relative;
  border-radius: 10px;
  margin: 1px 0;
}
.arrDiv.half-hidden-first div .lineStationImg,
.arrDiv.half-hidden div .lineStationImg {
  width: 25px;
  height: 25px;
  border-width: 0;
}
.lineStationImg {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  background-color: darkred;
  border: 5px red solid;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
img.googleLogo {
  position: absolute;
  bottom: 9dvh;
  left: 17px;
  z-index: 2;
}
.busOnStation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(140, 136, 65);
}
.busBetween {
  display: flex;
  align-items: center;
  justify-content: center;
}
.busBetween md-icon {
  color: rgb(140, 136, 65);
  transform: translateY(-25px);
  font-size: 1rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.busOnStation md-icon {
  color: rgb(140, 136, 65);
  font-size: 1.2rem;
  border-radius: 50%;
  scale: 1.1;
}
.etaStation {
  font-size: 1.1rem;
  display: flex;
  background: var(--md-sys-color-surface-container-low);
  align-items: center;
  height: 48px;
  margin: 2px 0;
  position: relative;
  border-radius: 5px;
  padding: 0 10px;
}
.noBG {
  background: none;
}
.etaStation md-icon {
  font-size: 12px;
  animation: rotatingIcon 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  position: relative;
  right: 4px;
  top: -8px;
  width: fit-content;
}
.etaStation sub {
  margin-top: 0.5rem;
}

.etaHoder {
  height: fit-content;
  width: fit-content;

  border-radius: 25px;
}
.arrivalData > span > span > md-icon,
.arrivalItem > span > span > md-icon {
  --md-icon-size: 20px;
  height: 10px;
  width: 18px;
  opacity: 0.6;
}
.nameStation {
  margin-left: 20px;
  font-size: 1rem;
  align-items: center;
  display: flex;
}
.arrivalsOnStation .iks {
  position: sticky;
  top: 0;
  z-index: 90;
  width: 100%;
}
.etaHolder {
  display: flex;

  gap: 40px;
}
.arrivalsColumns {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 100px;
  height: fit-content;
  max-width: 74vw;
}
p {
  color: var(--md-sys-color-on-surface);
  align-items: center;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
p md-icon {
  font-size: 1.4rem;
}
.arrivalsScroll p {
  margin-top: 30px;
}
.half-hidden,
.half-hidden-first,
.half-hidden-normal {
  position: relative;
}

.half-hidden::after {
  content: "";
  position: absolute;
  bottom: -12.3px;
  left: -10px;
  height: 50%;
  width: 25px;
  background: var(--md-sys-color-surface);
  pointer-events: none;
}
.half-hidden-first::after,
.half-hidden-normal::after {
  content: "";
  position: absolute;
  top: -12.3px;
  left: -10px;
  height: 50%;
  width: 25px;
  background: var(--md-sys-color-surface);
  pointer-events: none;
}
.half-hidden-normal::after {
  top: -9.7px;
}
md-fab.refresh,
.directionsButton {
  position: fixed;
  bottom: 90px;
  z-index: 100;
  right: 25px;
  transition: all 0.5s cubic-bezier(0.38, 1.21, 0.22, 1);
  z-index: 99;
}
.directionsButton {
  view-transition-name: dirBtn;
}
md-fab.refresh {
  bottom: 155px;
  view-transition-name: refBtn;
}
.directions {
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: normal;
  height: calc(100dvh - 110px);
  transition: transform 0.5s cubic-bezier(0.38, 1.21, 0.22, 1) !important;
  overscroll-behavior: none;
  position: absolute;
  top: 40px;
  transform: translateX(100vw);
  z-index: 100;
  background: var(--md-sys-color-surface);
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
md-filled-text-field.locationInput {
  margin: 10px auto;
  width: 80%;
  border: 2px solid var(--ol-subtle-foreground-color);
  border-radius: 25px;
  --md-filled-text-field-container-shape: 25px;
  --md-filled-text-field-label-text-color: #898989;
}
md-filled-text-field.timeInput {
  width: 80%;
}
.timeHolder {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stepDiv {
  margin: 10px 0;
  padding: 20px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  border-bottom: 5px solid var(--md-sys-color-surface);
  overflow: hidden;
}
.stepTextContent {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 5px;
}
.stepTextContent div {
  font-size: 1rem;
  --md-icon-size: 1.1rem;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.stepTextContent div span {
  display: flex;
  align-items: center;
  gap: 5px;
}
span.stepText.endStation {
  align-items: center;
  font-size: 1.1rem;
  --md-icon-size: 1rem;
  font-weight: bold;
  gap: 5px;
}
span.stepText.endStation md-icon {
  font-weight: bold;
}
.stepIcon .busNo {
  max-width: 20px;
  width: 20px;
}
b {
  font-weight: bold !important;
}
.stepsDir {
  background: var(--md-sys-color-surface-container-low);

  box-sizing: border-box;
  border-radius: 25px;
}
.goButton {
  width: 40%;
  margin: 10px auto;
}
.panel {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s cubic-bezier(0.38, 1.21, 0.22, 1);
}
.placeResults {
  transition: all 0.3s cubic-bezier(0.38, 1.21, 0.22, 1);
  opacity: 0;
  scale: 0.9;
  position: fixed;
  width: 80%;
  background: var(--md-sys-color-surface-container-high);
  border-radius: 25px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  list-style: none;
  --md-elevation-level: 3;
  overflow: hidden;
  transform-origin: center center;
}
.errorMessage {
  position: fixed;
  transition: all 0.8s cubic-bezier(0.38, 1.21, 0.22, 1);
  z-index: 100;
  background: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: -150px;
  filter: drop-shadow(0px 0px 9px var(--md-sys-color-error-container));
  display: flex;
  align-items: center;
  gap: 10px;
}
div.errorMessage > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
div.errorMessage > div > span:nth-child(1) {
  font-weight: bold;
  font-size: 1.1rem;
  flex-grow: 1;
  width: 100%;
}
.placeResult {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: auto auto;
  gap: 4px;
  padding: 15px 15px;
  position: relative;
}

/* Place first item to span both rows in first column */
.placeResult md-icon {
  grid-column: 1;
  grid-row: 1 / span 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Place second item top right */
.placeName {
  grid-column: 2;
  grid-row: 1;
  height: fit-content;
}

/* Place third item bottom right */
.placeAddress {
  grid-column: 2;
  grid-row: 2;
  height: fit-content;
  font-size: 0.9rem;
  color: var(--md-sys-color-outline);
}
.chipsHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.chip {
  flex-grow: 1; /* Items will expand to fill available space */
  flex-basis: 100px;
}
.agencyLogo {
  height: 25px;
  border-radius: 1000px;
  box-sizing: border-box;
  padding: 3px;
  margin-top: 3px;
}
.arrivalItem .stepIcon {
  flex-direction: column;
  font-size: 0.7rem;
  will-change: filter;
  transform: translateZ(0);
  gap: 5px;
}

img.agenImg {
  width: 37px;
  box-sizing: border-box;
  padding: 5px;
}
.busGoeey {
  position: relative;
}

.arrivalItem .stepIcon .agencyLogo {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 3px 3px;
}
.stepIcon .busNo2 {
  height: min-content;

  width: 40px;
  text-align: center;
  padding: 7px;
  top: 0px;
  aspect-ratio: unset;
  box-sizing: border-box;
  border-radius: 3px 3px 16px 15px;
}

.stepIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  z-index: 0;
}
.connectingLine {
  height: 15px;
  width: 1px;
  border-left: 3px dotted var(--md-sys-color-on-surface);
}
.routeDiv {
  background: var(--md-sys-color-surface-container);
  width: 100%;
  height: fit-content;
  z-index: 55;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  display: flex;
  position: relative;
  gap: 5px;
  flex-wrap: wrap;
  align-items: stretch;
}
.routeDiv .connectingLine {
  display: none;
}
.routeDiv .agencyLogo {
  position: absolute;
  left: 9px;
  bottom: -10px;
  scale: 0.8;
  border: 1px solid var(--md-sys-color-on-surface);
  padding: 2px;
}
.busHolder {
  position: relative;
  height: 23px;
}
.textMin {
  position: absolute;
  top: 12px;
  font-size: 0.8rem;
  right: -5px;
  opacity: 0.8;
  text-align: right;
}
div#popup-content,
div#popup-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#popup,
#popup2 {
  height: fit-content;
  width: fit-content;
  animation: popup 0.8s cubic-bezier(0.69, 0, 0, 1.82);
  transform-origin: 0% 100%;
  padding-bottom: 15px;
  padding-left: 3px;
}
#pop,
#pop2 {
  cursor: pointer;
  transform: translate(0%, 0%);

  background: var(--md-sys-color-secondary);
  padding: 10px;
  border-radius: 25px;
  transform-origin: 0% 100%;
}
.bubbleImg {
  position: absolute;
  width: 30px;
  left: -7px;
  bottom: -10px;
}
@keyframes popup {
  from {
    scale: 0;
    transform: translate(0%, 0%) rotate(-30deg);
  }
  to {
    scale: 1;
    transform: translate(0%, 0%) rotate(0deg);
  }
}
.navigationBar {
  view-transition-name: navBar;
  position: fixed;
  bottom: 0;
  background: var(--md-sys-color-surface-container);
  z-index: 100;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.navigationTab img {
  height: 20px;
}
.navigationTab img.selected {
  filter: brightness(1.2);
  background: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  width: 50%;
  border-radius: 100px;
  padding: 5px;
}
.navigationTab {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  background: transparent;
  position: relative;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--md-sys-color-on-surface);
  border-radius: 100px;
  height: 30px;
  gap: 2px;
}
body {
  --transDur: 0.3s;
  transition: 0.2s;
}

@keyframes scaleupy {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.bottomSheet {
  position: fixed;
  width: 100%;
  max-width: 1000px;
  left: 50%;
  transform: translate(-50%, 100vh);
  background-color: var(--md-sys-color-surface);
  bottom: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0px 3px 20px 0px black;
}
.bottomSheetHandle {
  transition: all var(--transDur);
  margin-top: 7px;
  background: var(--md-sys-color-on-surface);
  width: 10%;
  height: 3px;
  border-radius: 50px;
}
.handleHolder {
  left: 50%;
  background: var(--md-sys-color-surface);
  transform: translateX(-50%);
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  cursor: ns-resize;
  justify-content: center;
  height: 40px;
  z-index: 200;
}

.sheetContents:not(.not-selectable) {
  transition: all var(--transDur) cubic-bezier(0.38, 1.21, 0.22, 1);
}
.sheetContents {
  height: 100dvh;
  overflow: hidden;
}

.mainSheet {
  display: flex;
  transition: all calc(var(--transDur) - 0.1s);
  padding: 40px 0 30px 0;

  flex-wrap: wrap;
  justify-content: center;
  overscroll-behavior: none;
  align-items: center;
}
span.tripName {
  width: 80%;
}
md-icon.arrow {
  height: 1rem;
  transform: translateY(3px);
  width: 1rem;
}
md-icon.alert,
.alert .title md-icon {
  color: #ffbb00;
  margin-left: 5px;
  font-size: 1.2rem;
}
.alert .title md-icon {
  margin-right: 5px;
  margin-left: 0px;
}
.alert {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.alert span.title {
  margin: 0;
  background: none;
  font-weight: bold;
  width: 100%;
  text-align: left;
  font-size: 1.2rem !important;
}
.alert span.body {
  margin: 10px 0 0 0;

  width: 100%;
  text-align: left;
  font-size: 1rem;
}
md-icon.favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.5;
}

::view-transition-group(goingAway) {
  z-index: 50;
  animation-duration: 0.1s;
}
::view-transition-group(busIcon) {
  z-index: 50;
  animation-duration: 0.3s;
}
::view-transition-new(busIcon) {
  animation: busIconNew 1000ms forwards cubic-bezier(0.38, 1.21, 0.3, 1.33);
  z-index: 50;
}

/* Exit transition */
::view-transition-old(busIcon) {
  animation: busIcon 1000ms forwards cubic-bezier(0.38, 1.21, 0.3, 1.33);
  z-index: 39;
}
@keyframes busIcon {
  0% {
    transform: scale(1);

    opacity: 1;
    z-index: 50;
  }
  40% {
    transform: scale(2.5);

    opacity: 1;
    z-index: 50;
  }
  50% {
    transform: scale(2.5);

    opacity: 1;
    z-index: 50;
  }
  70% {
    transform: scale(2.5);

    opacity: 0;
    z-index: 50;
  }
}
@keyframes busIconNew {
  40% {
    transform: scale(2.5);

    opacity: 0;
    z-index: 50;
  }
  50% {
    transform: scale(2.5);

    opacity: 1;
    z-index: 50;
  }
  70% {
    transform: scale(2.5);

    opacity: 1;
    z-index: 50;
  }
  100% {
    transform: scale(1);

    opacity: 1;
    z-index: 50;
  }
}
::view-transition-group(*) {
  z-index: 40;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.38, 1.21, 0.3, 1.33);
}
