@media (prefers-color-scheme: dark) {
  body.lpp {
    --md-sys-color-background: #101411;
    --md-sys-color-on-background: #dfe4de;
    --md-sys-color-surface: #101411;
    --md-sys-color-surface-dim: #101411;
    --md-sys-color-surface-bright: #363a36;
    --md-sys-color-surface-container-lowest: #0b0f0c;
    --md-sys-color-surface-container-low: #181d19;
    --md-sys-color-surface-container: linear-gradient(329deg, #161a17, #1e241f);
    --md-sys-color-surface-container-high: #262b27;
    --md-sys-color-surface-container-highest: #313632;
    --md-sys-color-on-surface: #dfe4de;
    --md-sys-color-surface-variant: #3f4942;
    --md-sys-color-on-surface-variant: #bec9bf;
    --md-sys-color-inverse-surface: #dfe4de;
    --md-sys-color-inverse-on-surface: #2d322e;
    --md-sys-color-outline: #89938a;
    --md-sys-color-outline-variant: #3f4942;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #83d8a7;
    --md-sys-color-primary: #83d8a7;
    --md-sys-color-on-primary: #003921;
    --md-sys-color-primary-container: #005f3a;
    --md-sys-color-on-primary-container: #d0ffdf;
    --md-sys-color-inverse-primary: #086c44;
    --md-sys-color-secondary: #accfb7;
    --md-sys-color-on-secondary: #183626;
    --md-sys-color-secondary-container: #274533;
    --md-sys-color-on-secondary-container: #b9dcc3;
    --md-sys-color-tertiary: #bfc2ff;
    --md-sys-color-on-tertiary: #24286d;
    --md-sys-color-tertiary-container: #484d92;
    --md-sys-color-on-tertiary-container: #f8f5ff;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
  }
  body.ijpp {
    --md-sys-color-background: #111318;
    --md-sys-color-on-background: #e2e2e9;
    --md-sys-color-surface: #111318;
    --md-sys-color-surface-dim: #111318;
    --md-sys-color-surface-bright: #37393f;
    --md-sys-color-surface-container-lowest: #0c0e13;
    --md-sys-color-surface-container-low: #191b21;
    --md-sys-color-surface-container: #1d2025;
    --md-sys-color-surface-container-high: #282a2f;
    --md-sys-color-surface-container-highest: #33353a;
    --md-sys-color-on-surface: #e2e2e9;
    --md-sys-color-surface-variant: #424751;
    --md-sys-color-on-surface-variant: #c3c6d3;
    --md-sys-color-inverse-surface: #e2e2e9;
    --md-sys-color-inverse-on-surface: #2e3036;
    --md-sys-color-outline: #8d909d;
    --md-sys-color-outline-variant: #424751;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #acc7ff;
    --md-sys-color-primary: #acc7ff;
    --md-sys-color-on-primary: #002f68;
    --md-sys-color-primary-container: #003e86;
    --md-sys-color-on-primary-container: #c5d6ff;
    --md-sys-color-inverse-primary: #275dae;
    --md-sys-color-secondary: #b6c7ed;
    --md-sys-color-on-secondary: #20304f;
    --md-sys-color-secondary-container: #2e3e5d;
    --md-sys-color-on-secondary-container: #c2d2f9;
    --md-sys-color-tertiary: #eeb0ff;
    --md-sys-color-on-tertiary: #4f1165;
    --md-sys-color-tertiary-container: #622677;
    --md-sys-color-on-tertiary-container: #f5c8ff;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
  }
  body.marprom {
    --md-sys-color-background: #191110;
    --md-sys-color-on-background: #f0dfdc;
    --md-sys-color-surface: #191110;
    --md-sys-color-surface-dim: #191110;
    --md-sys-color-surface-bright: #413735;
    --md-sys-color-surface-container-lowest: #140c0b;
    --md-sys-color-surface-container-low: #221a18;
    --md-sys-color-surface-container: #261e1c;
    --md-sys-color-surface-container-high: #312826;
    --md-sys-color-surface-container-highest: #3c3231;
    --md-sys-color-on-surface: #f0dfdc;
    --md-sys-color-surface-variant: #554240;
    --md-sys-color-on-surface-variant: #dbc1bd;
    --md-sys-color-inverse-surface: #f0dfdc;
    --md-sys-color-inverse-on-surface: #382e2d;
    --md-sys-color-outline: #a38c88;
    --md-sys-color-outline-variant: #554240;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #ffb4a8;
    --md-sys-color-primary: #ffb4a8;
    --md-sys-color-on-primary: #5c1910;
    --md-sys-color-primary-container: #b45b4d;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #984539;
    --md-sys-color-secondary: #f2b9b0;
    --md-sys-color-on-secondary: #4a2621;
    --md-sys-color-secondary-container: #5c352f;
    --md-sys-color-on-secondary-container: #ffc8bf;
    --md-sys-color-tertiary: #ebd466;
    --md-sys-color-on-tertiary: #393000;
    --md-sys-color-tertiary-container: #c0ab41;
    --md-sys-color-on-tertiary-container: #272000;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
  }
  body.sž {
    --md-sys-color-background: #0f1418;
    --md-sys-color-on-background: #dfe3e9;
    --md-sys-color-surface: #0f1418;
    --md-sys-color-surface-dim: #0f1418;
    --md-sys-color-surface-bright: #353a3f;
    --md-sys-color-surface-container-lowest: #0a0f13;
    --md-sys-color-surface-container-low: #171c21;
    --md-sys-color-surface-container: #1b2025;
    --md-sys-color-surface-container-high: #262a2f;
    --md-sys-color-surface-container-highest: #30353a;
    --md-sys-color-on-surface: #dfe3e9;
    --md-sys-color-surface-variant: #3e4851;
    --md-sys-color-on-surface-variant: #bec7d2;
    --md-sys-color-inverse-surface: #dfe3e9;
    --md-sys-color-inverse-on-surface: #2c3136;
    --md-sys-color-outline: #88929c;
    --md-sys-color-outline-variant: #3e4851;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #90cdff;
    --md-sys-color-primary: #90cdff;
    --md-sys-color-on-primary: #003450;
    --md-sys-color-primary-container: #0099e1;
    --md-sys-color-on-primary-container: #000000;
    --md-sys-color-inverse-primary: #006495;
    --md-sys-color-secondary: #a5cbec;
    --md-sys-color-on-secondary: #04334f;
    --md-sys-color-secondary-container: #1a435e;
    --md-sys-color-on-secondary-container: #b3d8fa;
    --md-sys-color-tertiary: #e9b3ff;
    --md-sys-color-on-tertiary: #500570;
    --md-sys-color-tertiary-container: #bb75db;
    --md-sys-color-on-tertiary-container: #000000;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
  }
}
@media (prefers-color-scheme: light) {
  body.lpp {
    --md-sys-color-background: #f7faf4;
    --md-sys-color-on-background: #181d19;
    --md-sys-color-surface: #f7faf4;
    --md-sys-color-surface-dim: #d7dbd5;
    --md-sys-color-surface-bright: #f7faf4;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f1f5ef;
    --md-sys-color-surface-container: linear-gradient(329deg, #d8dcd6, #e5e9e3);
    --md-sys-color-surface-container-high: #e5e9e3;
    --md-sys-color-surface-container-highest: #dfe4de;
    --md-sys-color-on-surface: #181d19;
    --md-sys-color-surface-variant: #dae5db;
    --md-sys-color-on-surface-variant: #3f4942;
    --md-sys-color-inverse-surface: #2d322e;
    --md-sys-color-inverse-on-surface: #eef2ec;
    --md-sys-color-outline: #6f7a71;
    --md-sys-color-outline-variant: #bec9bf;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #086c44;
    --md-sys-color-primary: #005332;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #217a50;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #83d8a7;
    --md-sys-color-secondary: #466552;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #ccefd6;
    --md-sys-color-on-secondary-container: #32513e;
    --md-sys-color-tertiary: #3c4085;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #6065ac;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
  }
  body.ijpp {
    --md-sys-color-background: #f9f9ff;
    --md-sys-color-on-background: #191b21;
    --md-sys-color-surface: #f9f9ff;
    --md-sys-color-surface-dim: #d9d9e1;
    --md-sys-color-surface-bright: #f9f9ff;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f3f3fb;
    --md-sys-color-surface-container: #e7e7ef;
    --md-sys-color-surface-container-high: #e7e7ef;
    --md-sys-color-surface-container-highest: #e2e2e9;
    --md-sys-color-on-surface: #191b21;
    --md-sys-color-surface-variant: #dfe2f0;
    --md-sys-color-on-surface-variant: #424751;
    --md-sys-color-inverse-surface: #2e3036;
    --md-sys-color-inverse-on-surface: #f0f0f8;
    --md-sys-color-outline: #737783;
    --md-sys-color-outline-variant: #c3c6d3;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #275dae;
    --md-sys-color-primary: #003574;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #2058a9;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #acc7ff;
    --md-sys-color-secondary: #4e5e80;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #cedcff;
    --md-sys-color-on-secondary-container: #344464;
    --md-sys-color-tertiary: #561a6c;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #7d4092;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
  }
  body.marprom {
    --md-sys-color-background: #fff8f6;
    --md-sys-color-on-background: #221a18;
    --md-sys-color-surface: #fff8f6;
    --md-sys-color-surface-dim: #e7d6d4;
    --md-sys-color-surface-bright: #fff8f6;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #fff0ee;
    --md-sys-color-surface-container: #f5e4e2;
    --md-sys-color-surface-container-high: #f5e4e2;
    --md-sys-color-surface-container-highest: #f0dfdc;
    --md-sys-color-on-surface: #221a18;
    --md-sys-color-surface-variant: #f8dcd8;
    --md-sys-color-on-surface-variant: #554240;
    --md-sys-color-inverse-surface: #382e2d;
    --md-sys-color-inverse-on-surface: #feedea;
    --md-sys-color-outline: #88726f;
    --md-sys-color-outline-variant: #dbc1bd;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #984539;
    --md-sys-color-primary: #86372c;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #b45b4d;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #ffb4a8;
    --md-sys-color-secondary: #7f534c;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #ffccc4;
    --md-sys-color-on-secondary-container: #5e3731;
    --md-sys-color-tertiary: #6d5e00;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #c0ab41;
    --md-sys-color-on-tertiary-container: #272000;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
  }
  body.sž {
    --md-sys-color-background: #f7f9ff;
    --md-sys-color-on-background: #171c21;
    --md-sys-color-surface: #f7f9ff;
    --md-sys-color-surface-dim: #d6dae1;
    --md-sys-color-surface-bright: #f7f9ff;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f0f4fa;
    --md-sys-color-surface-container: #e4e8ef;
    --md-sys-color-surface-container-high: #e4e8ef;
    --md-sys-color-surface-container-highest: #dfe3e9;
    --md-sys-color-on-surface: #171c21;
    --md-sys-color-surface-variant: #dae3ef;
    --md-sys-color-on-surface-variant: #3e4851;
    --md-sys-color-inverse-surface: #2c3136;
    --md-sys-color-inverse-on-surface: #edf1f8;
    --md-sys-color-outline: #6f7882;
    --md-sys-color-outline-variant: #bec7d2;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #006495;
    --md-sys-color-primary: #006495;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #2aaefa;
    --md-sys-color-on-primary-container: #001c2e;
    --md-sys-color-inverse-primary: #90cdff;
    --md-sys-color-secondary: #3d627f;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #c1e1ff;
    --md-sys-color-on-secondary-container: #214864;
    --md-sys-color-tertiary: #8341a3;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #cf88ef;
    --md-sys-color-on-tertiary-container: #2d0042;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
  }
}
